.search-input-container {
  display: flex;
  align-items: center;
  background-color: #f1f5f9;
  border-radius: 8px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  width: 400px;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (max-width: 756px) {
  .search-input-container {
    width: 250px;
    margin-left: 3px;
    margin-top: 95px;
  }
}
.search-input {
  background-color: #f1f5f9;
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  flex-grow: 1;
}

.search-icon {
  color: #475569;
  width: 20px;
  height: 20px;
}
