.product-item {
  list-style-type: none;
  margin-bottom: 48px;
  width: 250px;
  flex-grow: 0;
  flex-shrink: 1;
  margin-right: 35px;
  box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .product-item {
    width: 200px;
  }
}

.link-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.thumbnail {
  width: 100%;
  max-height: 250px;
  border-radius: 6px;
}

.title {
  color: #171f46;
  font-family: 'Lobster';
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 8px;
}

.brand {
  color: #594d6d;
  font-family: 'Roboto';
  font-size: 18px;
  margin-bottom: 6px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2px;
}

.date {
  color: #594d6d;
  font-family: 'Roboto';
  font-size: 18px;
}
.details {
  margin-left: 15px;
  margin-bottom: 20px;
}
